@{
    ViewData["Title"] = "Home Page";
}

@model List<Contacto>
<a class="btn btn-primary" asp-controller="Home" asp-action="Agregar">Agregar contacto</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contacto in Model)
        {
            <tr>
                <td>@contacto.IdContacto</td>
                <td>@contacto.Nombre</td>
                <td>@contacto.Telefono</td>
                <td>@contacto.Correo</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Actualizar" asp-route-id="@contacto.IdContacto">Actualizar contacto</a>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Eliminar" asp-route-id="@contacto.IdContacto">Eliminar contacto</a>
                </td>
            </tr>
        }
    </tbody>
</table>
